
<div class="row container mt-4">


  <div class="col-3">
      <h4>Busquedas </h4>
      <hr>
        <ul class="list-group">
          <li routerLink="buscar" routerLinkActive="active" class="list-group-item ">Buscar Todos</li>
          <li routerLink="buscarpornombre" routerLinkActive="active" class="list-group-item ">Buscar Nombre</li>
          <li routerLink="buscarporrol"  routerLinkActive="active" class="list-group-item">Buscar Rol</li>
        </ul>

  </div>
  <div class="col">
    <h2> Busqueda general de usuarios</h2>
    <hr>
        <router-outlet></router-outlet>
  </div>
</div>




