<p>buscar works! en la pagina del componente buscar</p>

<div class="container">
    <div class="row bg-dark text-white text-center fw-bold py-2 d-flex justify-content-between align-items-center 
        border-bottom border-dark border-4">
        <div class="col border-end border-light border-2">
            <label class="align-text-bottom">Nombre</label>
        </div>
        <div class="col border-end border-light border-2">
            <label>Correo</label>
        </div>
        <div class="col border-end border-light border-2">
            <label>Estado</label>
        </div>
        <div class="col border-end border-light border-2">
            <label>Rol</label>
        </div>
        <div class="col border-end border-light border-2">
            <label>Imagen</label>
        </div>
        <div class="col">
            <label>Google</label>
        </div>
    </div>
    <div *ngFor="let item of users">
        <div class="row border-bottom border-dark border-4">
            <div class="col text-break">
                {{item.nombre}}
            </div>
            <div class="col text-break">
                {{item.correo}}
            </div>
            <div class="col text-break">
                {{item.estado}}
            </div>
            <div class="col text-break">
                {{item.rol}}
            </div>
            <div class="col text-break">
                {{item.img}}
            </div>
            <div class="col text-break">
                {{item.google}}
            </div>
        </div>
    </div>
</div>